.cart-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}
.cart-items-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 15px 0px;
  padding: 15px;
}

.total-line {
  width: 60vw;
  height: 3px;
  border-top: 2px dashed #cbd2d9;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.item-head {
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
  margin-left: 80px;
  margin-top: 10px;
}
.qty-head {
  margin-left: 80px;
  margin-top: 10px;
}
.item-price {
  margin-right: 30px;
  margin-top: 10px;
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
}
.item-remove {
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
}
.order-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  padding: 30px;
}
.bg {
  background-color: #f8fafc;
}
.order-total {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
.total-price {
  margin: 0px 0px 15px 0px;
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .cart-items-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
  }
  .bg {
    background-color: #ffffff;
    width: 90vw;
    margin-top: 30px;
  }
  .total-line {
    width: 85vw;
    margin: 0px 15px 0px 15px;
  }
  .order-container {
    width: 85vw;
  }
  .item-price,
  .item-head {
    display: none;
  }
  .place-order-container {
    height: 50vh;
    width: 80vw;
  }
}
