.slick-slide img {
  margin: auto;
}
.container-carousel {
  padding: 15px 30px 15px 30px;
}
.img-carousel {
  height: 40vh;
  width: 80vw;
}
.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #000000;
}
.loader-container {
  text-align: center;
}
@media screen and (max-width: 576px) {
  .img-carousel {
    height: 25vh;
    width: 80vw;
  }
}
